body {
    font-family: Arial, sans-serif;
}
.invoice {
    padding: 0 20px;
    width: 270px;
    margin: 0 auto;
}
.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.details {
    margin-bottom: 10px;
    padding: 0 20px;
    border: 2px solid black;
    position: relative;
}
.tittle{
    font-weight:bold
}


img#qrimage {
    padding: 8px 8px 0 0;
    width: 60px;
    position: absolute;
    top: 0; /* Đặt top ở 0 để hình ảnh nằm ở phía trên cùng của phần tử cha */
    right: 0;
}

@page {
    size: 80 900mm; /* Kích thước giấy tùy theo loại giấy in */
    margin: 0; /* Không có lề */
}
